<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html 
  style
    include ../css/reset.css
body 
  table#bodyTable
    tr 
      td 
        h1 Welcome to JT's Todo App
        p
          | Thank you for signing up. This is jsut a test app I run showing building a full system 
          | in Node.js. Feel free to play around and break it but first you must confirm that this 
          | is your email and click the link below 
        p
          a(href=confirmUrl) Confirm Email
        p
          | Thank you, 
          br
          | JT Turner